{
  "openapi": "3.1.1",
  "info": {
    "title": "Cherami HTTP API",
    "version": "1.0.0",
    "description": "Email infrastructure for AI agents: inboxes at cherami.to that receive, send and organize mail, with webhook notifications. Reference: https://cherami.to/docs/api",
    "contact": {
      "name": "Cherami",
      "email": "hello@cherami.to"
    }
  },
  "servers": [
    {
      "url": "https://cherami.to"
    }
  ],
  "security": [
    {
      "apiKey": []
    }
  ],
  "tags": [
    {
      "name": "inboxes"
    },
    {
      "name": "messages"
    },
    {
      "name": "labels"
    },
    {
      "name": "sending"
    },
    {
      "name": "drafts"
    },
    {
      "name": "threads"
    },
    {
      "name": "trash"
    }
  ],
  "paths": {
    "/v1/inboxes": {
      "get": {
        "operationId": "listInboxes",
        "tags": [
          "inboxes"
        ],
        "summary": "List inboxes",
        "description": "Lists every inbox on the account in one response, without pagination. `inbox_allowance.remaining` is how many more you can create.",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success.",
            "headers": {
              "X-Request-ID": {
                "description": "Identifies this request; include it when reporting a problem.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InboxList"
                },
                "example": {
                  "inboxes": [],
                  "inbox_limit": 0,
                  "inbox_allowance": {
                    "allowance": 0,
                    "used": 0,
                    "remaining": 0,
                    "unit": "inbox_slots"
                  }
                }
              }
            }
          },
          "401": {
            "description": "`unauthorized`: Send a valid API key as `Authorization: Bearer <key>`. If the key stopped working, get a new one through [recovery](https://cherami.to/docs/guides/recovery).",
            "headers": {
              "X-Request-ID": {
                "description": "Identifies this request; include it when reporting a problem.",
                "schema": {
                  "type": "string"
                }
              },
              "WWW-Authenticate": {
                "schema": {
                  "const": "Bearer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "`not_found`: The resource does not exist or does not belong to this account. A reply or forward source must also be in the sending inbox.",
            "headers": {
              "X-Request-ID": {
                "description": "Identifies this request; include it when reporting a problem.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "`internal_error`: The operation failed. Retry a read; after a write the change may have happened, so recover as [retry by operation](https://cherami.to/docs/api/errors#retry-by-operation) describes.",
            "headers": {
              "X-Request-ID": {
                "description": "Identifies this request; include it when reporting a problem.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-error-codes": [
          "unauthorized",
          "not_found",
          "internal_error"
        ]
      },
      "post": {
        "operationId": "createInbox",
        "tags": [
          "inboxes"
        ],
        "summary": "Create an inbox",
        "description": "`local_part` becomes the address `local_part@cherami.to`. The address is permanent: it can't be renamed or moved to another domain. To move an agent to a new address, see [Change your agent's email address](https://cherami.to/docs/guides/change-email-address).\n\n`name` identifies the inbox within the account and isn't shown to recipients; `sender_name` is the display name recipients see on its mail. Both are optional, can be [edited later](https://cherami.to/docs/api/inboxes/update-inbox) and need not be unique.\n\n### Recover creation\n\nInclude an `idempotency_key` to make a retry safe. If the response is lost or you get a `5xx`, repeat the request with the same key and the original payload within 24 hours of your first attempt: a match returns `200` with `replayed: true` and the inbox as it is now, and creates nothing new.\n\nA request refused with `400`, `address_unavailable` or `inbox_limit_reached` leaves its key unused. Use each key for one inbox, and don't switch to a new key or another address to get past an uncertain result.\n\nAfter 24 hours, or without a key, [list inboxes](https://cherami.to/docs/api/inboxes/list-inboxes) and look for the address before creating again: an unkeyed repeat of a creation that succeeded returns `409 address_unavailable`.",
        "parameters": [],
        "responses": {
          "200": {
            "description": "A retry matched an earlier request: this is that request's result as it is now. Nothing new was created or sent.",
            "headers": {
              "X-Request-ID": {
                "description": "Identifies this request; include it when reporting a problem.",
                "schema": {
                  "type": "string"
                }
              },
              "Location": {
                "description": "Relative URL of the resulting resource.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/CreatedInbox"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "replayed": {
                          "const": true
                        },
                        "idempotency_expires_at": {
                          "type": "string",
                          "description": "When the key stops protecting retries.",
                          "format": "date-time",
                          "pattern": "^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}\\.\\d{3}Z$"
                        }
                      },
                      "required": [
                        "replayed",
                        "idempotency_expires_at"
                      ]
                    }
                  ]
                },
                "example": {
                  "id": "11111111-1111-4111-8111-111111111111",
                  "local_part": "my-agent",
                  "address": "my-agent@cherami.to",
                  "name": null,
                  "sender_name": null,
                  "created_at": "2026-10-01T00:00:00.000Z",
                  "replayed": true,
                  "idempotency_expires_at": "2026-10-02T00:00:00.000Z"
                }
              }
            }
          },
          "201": {
            "description": "Created.",
            "headers": {
              "X-Request-ID": {
                "description": "Identifies this request; include it when reporting a problem.",
                "schema": {
                  "type": "string"
                }
              },
              "Location": {
                "description": "Relative URL of the resulting resource.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/CreatedInbox"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "replayed": {
                          "const": false
                        }
                      },
                      "required": []
                    }
                  ]
                },
                "example": {
                  "id": "11111111-1111-4111-8111-111111111111",
                  "local_part": "my-agent",
                  "address": "my-agent@cherami.to",
                  "name": null,
                  "sender_name": null,
                  "created_at": "2026-10-01T00:00:00.000Z",
                  "replayed": false,
                  "idempotency_expires_at": "2026-10-02T00:00:00.000Z"
                }
              }
            }
          },
          "400": {
            "description": "`invalid_json`: Send a valid UTF-8 JSON object, not an array or scalar.\n\n`invalid_inbox`: Creation takes only `local_part`, `name`, `sender_name` and `idempotency_key`; an edit takes at least one of `name` and `sender_name`, and nothing else.\n\n`invalid_local_part`: Use 1–64 letters, digits, hyphens or underscores for `local_part`, starting and ending with a letter or digit.\n\n`invalid_name`: Use plain text without control characters, at most 256 UTF-8 bytes after trimming. The message names the field.\n\n`invalid_idempotency_key`: Use 1–128 ASCII letters, digits, hyphens or underscores.",
            "headers": {
              "X-Request-ID": {
                "description": "Identifies this request; include it when reporting a problem.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "`unauthorized`: Send a valid API key as `Authorization: Bearer <key>`. If the key stopped working, get a new one through [recovery](https://cherami.to/docs/guides/recovery).",
            "headers": {
              "X-Request-ID": {
                "description": "Identifies this request; include it when reporting a problem.",
                "schema": {
                  "type": "string"
                }
              },
              "WWW-Authenticate": {
                "schema": {
                  "const": "Bearer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "`not_found`: The resource does not exist or does not belong to this account. A reply or forward source must also be in the sending inbox.",
            "headers": {
              "X-Request-ID": {
                "description": "Identifies this request; include it when reporting a problem.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "`address_unavailable`: The address is in use, reserved or retired. Choose another `local_part`.\n\n`inbox_limit_reached`: All inbox slots are in use; `error.details.allowance` has the counts. Use an existing inbox, or [request more slots](https://cherami.to/docs/guides/support) rather than deleting an inbox still in use.\n\n`idempotency_conflict`: The key was first used with different input. To recover that request, repeat it with its original inbox and payload; a different request needs its own key.\n\n`idempotency_result_unavailable`: The key already created an inbox, draft or send whose result has since been deleted. Nothing new was created or sent; do not repeat the request under a new key. If a sent message is still in Trash, restore it to read the outcome.",
            "headers": {
              "X-Request-ID": {
                "description": "Identifies this request; include it when reporting a problem.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InboxError"
                }
              }
            }
          },
          "413": {
            "description": "`body_too_large`: Reduce the JSON request to the operation's body limit.",
            "headers": {
              "X-Request-ID": {
                "description": "Identifies this request; include it when reporting a problem.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "415": {
            "description": "`unsupported_media_type`: Send `Content-Type: application/json`.",
            "headers": {
              "X-Request-ID": {
                "description": "Identifies this request; include it when reporting a problem.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "`internal_error`: The operation failed. Retry a read; after a write the change may have happened, so recover as [retry by operation](https://cherami.to/docs/api/errors#retry-by-operation) describes.",
            "headers": {
              "X-Request-ID": {
                "description": "Identifies this request; include it when reporting a problem.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-error-codes": [
          "unauthorized",
          "invalid_json",
          "body_too_large",
          "unsupported_media_type",
          "invalid_inbox",
          "invalid_local_part",
          "invalid_name",
          "invalid_idempotency_key",
          "address_unavailable",
          "inbox_limit_reached",
          "idempotency_conflict",
          "idempotency_result_unavailable",
          "not_found",
          "internal_error"
        ],
        "requestBody": {
          "required": true,
          "description": "JSON object, at most 4 KiB in total.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateInbox"
              },
              "example": {
                "local_part": "my-agent",
                "name": "Research",
                "idempotency_key": "RETAIN_A_UNIQUE_CREATION_KEY"
              }
            }
          }
        },
        "x-request-body-limit": 4096,
        "x-example-body": {
          "local_part": "my-agent",
          "name": "Research",
          "idempotency_key": "RETAIN_A_UNIQUE_CREATION_KEY"
        }
      }
    },
    "/v1/inboxes/{inbox_id}": {
      "get": {
        "operationId": "getInbox",
        "tags": [
          "inboxes"
        ],
        "summary": "Read an inbox",
        "description": "Returns the inbox's address and current names.",
        "parameters": [
          {
            "name": "inbox_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Cherami resource ID returned by the API."
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "headers": {
              "X-Request-ID": {
                "description": "Identifies this request; include it when reporting a problem.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Inbox"
                },
                "example": {
                  "id": "11111111-1111-4111-8111-111111111111",
                  "local_part": "my-agent",
                  "address": "my-agent@cherami.to",
                  "name": null,
                  "sender_name": null,
                  "created_at": "2026-10-01T00:00:00.000Z"
                }
              }
            }
          },
          "401": {
            "description": "`unauthorized`: Send a valid API key as `Authorization: Bearer <key>`. If the key stopped working, get a new one through [recovery](https://cherami.to/docs/guides/recovery).",
            "headers": {
              "X-Request-ID": {
                "description": "Identifies this request; include it when reporting a problem.",
                "schema": {
                  "type": "string"
                }
              },
              "WWW-Authenticate": {
                "schema": {
                  "const": "Bearer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "`not_found`: The resource does not exist or does not belong to this account. A reply or forward source must also be in the sending inbox.",
            "headers": {
              "X-Request-ID": {
                "description": "Identifies this request; include it when reporting a problem.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "`internal_error`: The operation failed. Retry a read; after a write the change may have happened, so recover as [retry by operation](https://cherami.to/docs/api/errors#retry-by-operation) describes.",
            "headers": {
              "X-Request-ID": {
                "description": "Identifies this request; include it when reporting a problem.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-error-codes": [
          "unauthorized",
          "not_found",
          "internal_error"
        ]
      },
      "patch": {
        "operationId": "updateInbox",
        "tags": [
          "inboxes"
        ],
        "summary": "Edit inbox names",
        "description": "Changes `name`, `sender_name` or both. An omitted field stays as it is; `null` or a blank string clears it. The address can't be changed.\n\nA new `sender_name` applies to mail sent afterwards.",
        "parameters": [
          {
            "name": "inbox_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Cherami resource ID returned by the API."
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "headers": {
              "X-Request-ID": {
                "description": "Identifies this request; include it when reporting a problem.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Inbox"
                },
                "example": {
                  "id": "11111111-1111-4111-8111-111111111111",
                  "local_part": "my-agent",
                  "address": "my-agent@cherami.to",
                  "name": null,
                  "sender_name": null,
                  "created_at": "2026-10-01T00:00:00.000Z"
                }
              }
            }
          },
          "400": {
            "description": "`invalid_json`: Send a valid UTF-8 JSON object, not an array or scalar.\n\n`invalid_inbox`: Creation takes only `local_part`, `name`, `sender_name` and `idempotency_key`; an edit takes at least one of `name` and `sender_name`, and nothing else.\n\n`invalid_name`: Use plain text without control characters, at most 256 UTF-8 bytes after trimming. The message names the field.",
            "headers": {
              "X-Request-ID": {
                "description": "Identifies this request; include it when reporting a problem.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "`unauthorized`: Send a valid API key as `Authorization: Bearer <key>`. If the key stopped working, get a new one through [recovery](https://cherami.to/docs/guides/recovery).",
            "headers": {
              "X-Request-ID": {
                "description": "Identifies this request; include it when reporting a problem.",
                "schema": {
                  "type": "string"
                }
              },
              "WWW-Authenticate": {
                "schema": {
                  "const": "Bearer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "`not_found`: The resource does not exist or does not belong to this account. A reply or forward source must also be in the sending inbox.",
            "headers": {
              "X-Request-ID": {
                "description": "Identifies this request; include it when reporting a problem.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "413": {
            "description": "`body_too_large`: Reduce the JSON request to the operation's body limit.",
            "headers": {
              "X-Request-ID": {
                "description": "Identifies this request; include it when reporting a problem.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "415": {
            "description": "`unsupported_media_type`: Send `Content-Type: application/json`.",
            "headers": {
              "X-Request-ID": {
                "description": "Identifies this request; include it when reporting a problem.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "`internal_error`: The operation failed. Retry a read; after a write the change may have happened, so recover as [retry by operation](https://cherami.to/docs/api/errors#retry-by-operation) describes.",
            "headers": {
              "X-Request-ID": {
                "description": "Identifies this request; include it when reporting a problem.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-error-codes": [
          "unauthorized",
          "invalid_json",
          "body_too_large",
          "unsupported_media_type",
          "not_found",
          "invalid_inbox",
          "invalid_name",
          "internal_error"
        ],
        "requestBody": {
          "required": true,
          "description": "JSON object, at most 4 KiB in total.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateInbox"
              },
              "example": {
                "name": "Travel correspondence",
                "sender_name": null
              }
            }
          }
        },
        "x-request-body-limit": 4096,
        "x-example-body": {
          "name": "Travel correspondence",
          "sender_name": null
        }
      },
      "delete": {
        "operationId": "deleteInbox",
        "tags": [
          "inboxes"
        ],
        "summary": "Delete an inbox",
        "description": "Deletes the inbox with all its received and sent mail, drafts, attachments and conversations. Deletion is final: nothing goes to Trash, and the address is retired for everyone, so no inbox can use it again and mail sent to it does not arrive. Confirm the exact inbox with your human first; the API asks for no other confirmation.\n\nThe slot is freed at once. A repeated request returns `202` or `404`.\n\n[Deletion guide](https://cherami.to/docs/guides/deletion)",
        "parameters": [
          {
            "name": "inbox_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Cherami resource ID returned by the API."
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted.",
            "headers": {
              "X-Request-ID": {
                "description": "Identifies this request; include it when reporting a problem.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Deleted"
                },
                "example": {
                  "id": "11111111-1111-4111-8111-111111111111",
                  "status": "deletion_pending",
                  "message": "Example"
                }
              }
            }
          },
          "401": {
            "description": "`unauthorized`: Send a valid API key as `Authorization: Bearer <key>`. If the key stopped working, get a new one through [recovery](https://cherami.to/docs/guides/recovery).",
            "headers": {
              "X-Request-ID": {
                "description": "Identifies this request; include it when reporting a problem.",
                "schema": {
                  "type": "string"
                }
              },
              "WWW-Authenticate": {
                "schema": {
                  "const": "Bearer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "`operation_not_allowed`: Sending, or deletion and restore, is turned off for this account; the message says which. Contact hello@cherami.to.",
            "headers": {
              "X-Request-ID": {
                "description": "Identifies this request; include it when reporting a problem.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "`not_found`: The resource does not exist or does not belong to this account. A reply or forward source must also be in the sending inbox.",
            "headers": {
              "X-Request-ID": {
                "description": "Identifies this request; include it when reporting a problem.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "`internal_error`: The operation failed. Retry a read; after a write the change may have happened, so recover as [retry by operation](https://cherami.to/docs/api/errors#retry-by-operation) describes.",
            "headers": {
              "X-Request-ID": {
                "description": "Identifies this request; include it when reporting a problem.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-error-codes": [
          "unauthorized",
          "not_found",
          "operation_not_allowed",
          "internal_error"
        ]
      }
    },
    "/v1/inboxes/{inbox_id}/sending-policy": {
      "get": {
        "operationId": "getSendingPolicy",
        "tags": [
          "inboxes"
        ],
        "summary": "Inspect sending rules",
        "description": "Shows the inbox's recipient restrictions. They apply to every way of sending: send, reply, reply-all, forward and drafts.\n\nWith `enabled: false` the inbox can send to anyone, even if addresses or domains are saved. With `enabled: true`, every To, Cc and Bcc recipient must match an entry in `addresses` or `domains`, or the send is refused with `403 recipient_not_allowed`; with both lists empty, the inbox can't send.\n\nAn address entry matches exactly: the local part is case-sensitive, and plus tags and dots count. A domain matches without regard to case and only itself, not its subdomains; international domains are listed in punycode.\n\nThese rules can be changed only in [Account → Sending rules](https://cherami.to/account/sending-rules), not through the API. [Sending rules guide](https://cherami.to/docs/guides/sending-rules)",
        "parameters": [
          {
            "name": "inbox_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Cherami resource ID returned by the API."
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "headers": {
              "X-Request-ID": {
                "description": "Identifies this request; include it when reporting a problem.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Policy"
                },
                "example": {
                  "inbox_id": "11111111-1111-4111-8111-111111111111",
                  "enabled": true,
                  "addresses": [],
                  "domains": [],
                  "revision": 0
                }
              }
            }
          },
          "401": {
            "description": "`unauthorized`: Send a valid API key as `Authorization: Bearer <key>`. If the key stopped working, get a new one through [recovery](https://cherami.to/docs/guides/recovery).",
            "headers": {
              "X-Request-ID": {
                "description": "Identifies this request; include it when reporting a problem.",
                "schema": {
                  "type": "string"
                }
              },
              "WWW-Authenticate": {
                "schema": {
                  "const": "Bearer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "`not_found`: The resource does not exist or does not belong to this account. A reply or forward source must also be in the sending inbox.",
            "headers": {
              "X-Request-ID": {
                "description": "Identifies this request; include it when reporting a problem.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "`internal_error`: The operation failed. Retry a read; after a write the change may have happened, so recover as [retry by operation](https://cherami.to/docs/api/errors#retry-by-operation) describes.",
            "headers": {
              "X-Request-ID": {
                "description": "Identifies this request; include it when reporting a problem.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-error-codes": [
          "unauthorized",
          "not_found",
          "internal_error"
        ]
      }
    },
    "/v1/inboxes/{inbox_id}/receiving-policy": {
      "get": {
        "operationId": "getReceivingPolicy",
        "tags": [
          "inboxes"
        ],
        "summary": "Inspect receiving rules",
        "description": "Shows the inbox's blocked senders. With `enabled: true`, mail whose From address matches an entry in `addresses` or `domains` does not arrive, and no copy is kept. With `enabled: false` nothing is blocked, and the saved lists stay. Mail already received isn't affected by a change.\n\nEntries match as in [sending rules](https://cherami.to/docs/api/inboxes/get-sending-policy).\n\nThe From address is written by the sender and isn't authenticated, so these rules stop unwanted mail from a sender, not a sender who forges another address. They can be changed only in [Account → Receiving rules](https://cherami.to/account/receiving-rules), not through the API. [Receiving rules guide](https://cherami.to/docs/guides/receiving-rules)",
        "parameters": [
          {
            "name": "inbox_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Cherami resource ID returned by the API."
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "headers": {
              "X-Request-ID": {
                "description": "Identifies this request; include it when reporting a problem.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Policy"
                },
                "example": {
                  "inbox_id": "11111111-1111-4111-8111-111111111111",
                  "enabled": true,
                  "addresses": [],
                  "domains": [],
                  "revision": 0
                }
              }
            }
          },
          "401": {
            "description": "`unauthorized`: Send a valid API key as `Authorization: Bearer <key>`. If the key stopped working, get a new one through [recovery](https://cherami.to/docs/guides/recovery).",
            "headers": {
              "X-Request-ID": {
                "description": "Identifies this request; include it when reporting a problem.",
                "schema": {
                  "type": "string"
                }
              },
              "WWW-Authenticate": {
                "schema": {
                  "const": "Bearer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "`not_found`: The resource does not exist or does not belong to this account. A reply or forward source must also be in the sending inbox.",
            "headers": {
              "X-Request-ID": {
                "description": "Identifies this request; include it when reporting a problem.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "`internal_error`: The operation failed. Retry a read; after a write the change may have happened, so recover as [retry by operation](https://cherami.to/docs/api/errors#retry-by-operation) describes.",
            "headers": {
              "X-Request-ID": {
                "description": "Identifies this request; include it when reporting a problem.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-error-codes": [
          "unauthorized",
          "not_found",
          "internal_error"
        ]
      }
    },
    "/v1/inboxes/{inbox_id}/messages": {
      "get": {
        "operationId": "listMessages",
        "tags": [
          "messages"
        ],
        "summary": "List received messages",
        "description": "Lists received mail in the inbox, newest first. Narrow it with `query` and the sender, recipient, subject, date and label filters, or order by `oldest` or `relevance`: see [Find mail](https://cherami.to/docs/guides/search) and [labels](https://cherami.to/docs/guides/labels). Follow `next_cursor` with the same filters and order for the next page ([pagination](https://cherami.to/docs/api/errors#pagination)).\n\nA message is listed as soon as it arrives. Only entries with `processing_status: \"ready\"` have `from` and a `preview`, and `thread_id` stays null until then. Identify the sender by `from`, a parsed mailbox such as `{\"name\":\"Sender\",\"address\":\"sender@example.com\"}` or a group such as `{\"name\":\"Team\",\"group\":[...]}`; `envelope_from` is the SMTP sender and can be a bounce address.\n\n### Previews\n\nReceived and sent listings include `preview`, an excerpt of up to 300 characters, null until the message's content is ready. It starts from the new reply text when that can be extracted, so even an untruncated preview can leave out the rest of the body: [read the message](https://cherami.to/docs/api/messages/get-message) before acting on it.",
        "parameters": [
          {
            "name": "inbox_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Cherami resource ID returned by the API."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            },
            "description": "Results per page."
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "next_cursor from the previous page. Keep the URL, filters and order unchanged."
          },
          {
            "name": "query",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Words or \"quoted phrases\" to find in the subject and body; every term must match. At most 16 terms and 512 UTF-16 code units. OR, NOT and wildcards have no special meaning, and attachments aren't searched. See [Find mail](https://cherami.to/docs/guides/search)."
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Bare sender address from the message headers, matched exactly without regard to case; not the SMTP envelope. At most 320 UTF-16 code units."
          },
          {
            "name": "recipient",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Bare recipient address from the message headers, matched exactly without regard to case; not the SMTP envelope. At most 320 UTF-16 code units."
          },
          {
            "name": "subject",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Text the subject contains, matched literally without regard to case. At most 998 UTF-16 code units."
          },
          {
            "name": "after",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}(?:\\.\\d{1,3})?(?:Z|[+-]\\d{2}:\\d{2})$"
            },
            "description": "Earliest (inclusive) receipt or send time, as an ISO 8601 instant with a timezone, such as 2026-10-01T00:00:00Z. after must be earlier than before. URL-encode it, including any + in an offset."
          },
          {
            "name": "before",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}(?:\\.\\d{1,3})?(?:Z|[+-]\\d{2}:\\d{2})$"
            },
            "description": "Latest (exclusive) receipt or send time, as an ISO 8601 instant with a timezone, such as 2026-10-01T00:00:00Z. after must be earlier than before. URL-encode it, including any + in an offset."
          },
          {
            "name": "labels_all",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/Label"
              },
              "maxItems": 32
            },
            "description": "Messages carrying every listed label. Repeat the parameter for each label rather than separating with commas. The three label groups combine with AND.",
            "style": "form",
            "explode": true
          },
          {
            "name": "labels_any",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/Label"
              },
              "maxItems": 32
            },
            "description": "Messages carrying at least one listed label. Repeat the parameter for each label rather than separating with commas. The three label groups combine with AND.",
            "style": "form",
            "explode": true
          },
          {
            "name": "labels_none",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/Label"
              },
              "maxItems": 32
            },
            "description": "Messages carrying none of the listed labels, unlabeled ones included. Repeat the parameter for each label rather than separating with commas. The three label groups combine with AND.",
            "style": "form",
            "explode": true
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "newest",
                "oldest",
                "relevance"
              ],
              "default": "newest"
            },
            "description": "relevance requires query."
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "headers": {
              "X-Request-ID": {
                "description": "Identifies this request; include it when reporting a problem.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "messages": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ReceivedSummary"
                      }
                    },
                    "next_cursor": {
                      "anyOf": [
                        {
                          "type": "string",
                          "description": "Cursor for the next page, or null at the end. Send it with the same URL, filters and order."
                        },
                        {
                          "type": "null"
                        }
                      ]
                    }
                  },
                  "required": [
                    "messages",
                    "next_cursor"
                  ]
                },
                "example": {
                  "messages": [],
                  "next_cursor": null
                }
              }
            }
          },
          "400": {
            "description": "`invalid_limit`: Use an integer from 1 to 100.\n\n`invalid_cursor`: Send a cursor only to the listing, filters and order that returned it, or restart from the first page.\n\n`invalid_search`: Correct the search terms, filters, timestamps or ordering the message names. See [search](https://cherami.to/docs/guides/search).\n\n`invalid_labels`: Correct the label name, label change, filter group or discovery prefix the message names.",
            "headers": {
              "X-Request-ID": {
                "description": "Identifies this request; include it when reporting a problem.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "`unauthorized`: Send a valid API key as `Authorization: Bearer <key>`. If the key stopped working, get a new one through [recovery](https://cherami.to/docs/guides/recovery).",
            "headers": {
              "X-Request-ID": {
                "description": "Identifies this request; include it when reporting a problem.",
                "schema": {
                  "type": "string"
                }
              },
              "WWW-Authenticate": {
                "schema": {
                  "const": "Bearer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "`not_found`: The resource does not exist or does not belong to this account. A reply or forward source must also be in the sending inbox.",
            "headers": {
              "X-Request-ID": {
                "description": "Identifies this request; include it when reporting a problem.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "`internal_error`: The operation failed. Retry a read; after a write the change may have happened, so recover as [retry by operation](https://cherami.to/docs/api/errors#retry-by-operation) describes.",
            "headers": {
              "X-Request-ID": {
                "description": "Identifies this request; include it when reporting a problem.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-error-codes": [
          "unauthorized",
          "not_found",
          "invalid_limit",
          "invalid_cursor",
          "invalid_search",
          "invalid_labels",
          "internal_error"
        ]
      }
    },
    "/v1/inboxes/{inbox_id}/messages/count": {
      "get": {
        "operationId": "countMessages",
        "tags": [
          "messages"
        ],
        "summary": "Count received messages",
        "description": "Counts received messages matching the same `query` and filters as [List received messages](https://cherami.to/docs/api/messages/list-messages), including messages that aren't ready to read yet.",
        "parameters": [
          {
            "name": "inbox_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Cherami resource ID returned by the API."
          },
          {
            "name": "query",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Words or \"quoted phrases\" to find in the subject and body; every term must match. At most 16 terms and 512 UTF-16 code units. OR, NOT and wildcards have no special meaning, and attachments aren't searched. See [Find mail](https://cherami.to/docs/guides/search)."
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Bare sender address from the message headers, matched exactly without regard to case; not the SMTP envelope. At most 320 UTF-16 code units."
          },
          {
            "name": "recipient",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Bare recipient address from the message headers, matched exactly without regard to case; not the SMTP envelope. At most 320 UTF-16 code units."
          },
          {
            "name": "subject",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Text the subject contains, matched literally without regard to case. At most 998 UTF-16 code units."
          },
          {
            "name": "after",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}(?:\\.\\d{1,3})?(?:Z|[+-]\\d{2}:\\d{2})$"
            },
            "description": "Earliest (inclusive) receipt or send time, as an ISO 8601 instant with a timezone, such as 2026-10-01T00:00:00Z. after must be earlier than before. URL-encode it, including any + in an offset."
          },
          {
            "name": "before",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}(?:\\.\\d{1,3})?(?:Z|[+-]\\d{2}:\\d{2})$"
            },
            "description": "Latest (exclusive) receipt or send time, as an ISO 8601 instant with a timezone, such as 2026-10-01T00:00:00Z. after must be earlier than before. URL-encode it, including any + in an offset."
          },
          {
            "name": "labels_all",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/Label"
              },
              "maxItems": 32
            },
            "description": "Messages carrying every listed label. Repeat the parameter for each label rather than separating with commas. The three label groups combine with AND.",
            "style": "form",
            "explode": true
          },
          {
            "name": "labels_any",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/Label"
              },
              "maxItems": 32
            },
            "description": "Messages carrying at least one listed label. Repeat the parameter for each label rather than separating with commas. The three label groups combine with AND.",
            "style": "form",
            "explode": true
          },
          {
            "name": "labels_none",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/Label"
              },
              "maxItems": 32
            },
            "description": "Messages carrying none of the listed labels, unlabeled ones included. Repeat the parameter for each label rather than separating with commas. The three label groups combine with AND.",
            "style": "form",
            "explode": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "headers": {
              "X-Request-ID": {
                "description": "Identifies this request; include it when reporting a problem.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "integer",
                      "minimum": 0
                    }
                  },
                  "required": [
                    "count"
                  ]
                },
                "example": {
                  "count": 0
                }
              }
            }
          },
          "400": {
            "description": "`invalid_search`: Correct the search terms, filters, timestamps or ordering the message names. See [search](https://cherami.to/docs/guides/search).\n\n`invalid_labels`: Correct the label name, label change, filter group or discovery prefix the message names.",
            "headers": {
              "X-Request-ID": {
                "description": "Identifies this request; include it when reporting a problem.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "`unauthorized`: Send a valid API key as `Authorization: Bearer <key>`. If the key stopped working, get a new one through [recovery](https://cherami.to/docs/guides/recovery).",
            "headers": {
              "X-Request-ID": {
                "description": "Identifies this request; include it when reporting a problem.",
                "schema": {
                  "type": "string"
                }
              },
              "WWW-Authenticate": {
                "schema": {
                  "const": "Bearer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "`not_found`: The resource does not exist or does not belong to this account. A reply or forward source must also be in the sending inbox.",
            "headers": {
              "X-Request-ID": {
                "description": "Identifies this request; include it when reporting a problem.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "`internal_error`: The operation failed. Retry a read; after a write the change may have happened, so recover as [retry by operation](https://cherami.to/docs/api/errors#retry-by-operation) describes.",
            "headers": {
              "X-Request-ID": {
                "description": "Identifies this request; include it when reporting a problem.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-error-codes": [
          "unauthorized",
          "not_found",
          "invalid_search",
          "invalid_labels",
          "internal_error"
        ]
      }
    },
    "/v1/messages/{message_id}": {
      "get": {
        "operationId": "getMessage",
        "tags": [
          "messages"
        ],
        "summary": "Read a received message",
        "description": "Returns one received message. Check `processing_status` first:\n\n- `ready`: `content` holds the parsed headers, the text and HTML bodies, `reply_text` and attachment metadata. The sender is `content.from`.\n- `pending` or `processing`: the content isn't ready yet; read the message again shortly.\n- `failed`: the content couldn't be prepared. The [raw MIME](https://cherami.to/docs/api/messages/download-raw-message) is still available.\n\nFor answers written between quoted lines, read `text` or `html` rather than `reply_text`.\n\nDownload an attachment by its `id` in `content.attachments`, with the [attachment endpoint](https://cherami.to/docs/api/messages/download-attachment).",
        "parameters": [
          {
            "name": "message_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Cherami resource ID returned by the API."
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "headers": {
              "X-Request-ID": {
                "description": "Identifies this request; include it when reporting a problem.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReceivedDetail"
                },
                "example": {
                  "id": "11111111-1111-4111-8111-111111111111",
                  "inbox_id": "11111111-1111-4111-8111-111111111111",
                  "thread_id": null,
                  "envelope_from": "sender@example.com",
                  "envelope_to": "my-agent@cherami.to",
                  "subject": null,
                  "received_at": "2026-10-01T00:00:00.000Z",
                  "processing_status": "ready",
                  "labels": [],
                  "message_id": null,
                  "raw_size": 0,
                  "processed_at": null,
                  "content": {
                    "from": null,
                    "sender": null,
                    "reply_to": [],
                    "to": [],
                    "cc": [],
                    "bcc": [],
                    "subject": null,
                    "message_id": null,
                    "in_reply_to": null,
                    "references": null,
                    "date": null,
                    "reply_text": null,
                    "text": null,
                    "html": null,
                    "attachments": []
                  }
                }
              }
            }
          },
          "401": {
            "description": "`unauthorized`: Send a valid API key as `Authorization: Bearer <key>`. If the key stopped working, get a new one through [recovery](https://cherami.to/docs/guides/recovery).",
            "headers": {
              "X-Request-ID": {
                "description": "Identifies this request; include it when reporting a problem.",
                "schema": {
                  "type": "string"
                }
              },
              "WWW-Authenticate": {
                "schema": {
                  "const": "Bearer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "`not_found`: The resource does not exist or does not belong to this account. A reply or forward source must also be in the sending inbox.",
            "headers": {
              "X-Request-ID": {
                "description": "Identifies this request; include it when reporting a problem.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "`internal_error`: The operation failed. Retry a read; after a write the change may have happened, so recover as [retry by operation](https://cherami.to/docs/api/errors#retry-by-operation) describes.",
            "headers": {
              "X-Request-ID": {
                "description": "Identifies this request; include it when reporting a problem.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "`content_unavailable`: Stored content could not be read. Retry later.",
            "headers": {
              "X-Request-ID": {
                "description": "Identifies this request; include it when reporting a problem.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-error-codes": [
          "unauthorized",
          "not_found",
          "content_unavailable",
          "internal_error"
        ]
      },
      "delete": {
        "operationId": "deleteMessage",
        "tags": [
          "messages"
        ],
        "summary": "Delete a received message",
        "description": "Moves the message and its attachments to the inbox's [Trash](https://cherami.to/docs/api/trash/list-trash). It leaves listings, search and its conversation at once, and can't be read or replied to while there. [Restore it](https://cherami.to/docs/api/trash/restore-message) within seven days; after that it is permanently deleted. A repeated request returns `202` or `404`.\n\n[Deletion guide](https://cherami.to/docs/guides/deletion)",
        "parameters": [
          {
            "name": "message_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Cherami resource ID returned by the API."
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted.",
            "headers": {
              "X-Request-ID": {
                "description": "Identifies this request; include it when reporting a problem.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Deleted"
                },
                "example": {
                  "id": "11111111-1111-4111-8111-111111111111",
                  "status": "deletion_pending",
                  "message": "Example"
                }
              }
            }
          },
          "401": {
            "description": "`unauthorized`: Send a valid API key as `Authorization: Bearer <key>`. If the key stopped working, get a new one through [recovery](https://cherami.to/docs/guides/recovery).",
            "headers": {
              "X-Request-ID": {
                "description": "Identifies this request; include it when reporting a problem.",
                "schema": {
                  "type": "string"
                }
              },
              "WWW-Authenticate": {
                "schema": {
                  "const": "Bearer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "`operation_not_allowed`: Sending, or deletion and restore, is turned off for this account; the message says which. Contact hello@cherami.to.",
            "headers": {
              "X-Request-ID": {
                "description": "Identifies this request; include it when reporting a problem.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "`not_found`: The resource does not exist or does not belong to this account. A reply or forward source must also be in the sending inbox.",
            "headers": {
              "X-Request-ID": {
                "description": "Identifies this request; include it when reporting a problem.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "`internal_error`: The operation failed. Retry a read; after a write the change may have happened, so recover as [retry by operation](https://cherami.to/docs/api/errors#retry-by-operation) describes.",
            "headers": {
              "X-Request-ID": {
                "description": "Identifies this request; include it when reporting a problem.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-error-codes": [
          "unauthorized",
          "not_found",
          "operation_not_allowed",
          "internal_error"
        ]
      },
      "patch": {
        "operationId": "updateMessageLabels",
        "tags": [
          "labels"
        ],
        "summary": "Label a received message",
        "description": "Adds and removes labels on one received message, leaving its other labels as they are. Names are case-sensitive: `Receipts` and `receipts` are different labels. The response lists the message's labels after the change, and repeating a change is harmless.\n\nTo track read and starred mail with labels, see [Track read, unread and starred mail](https://cherami.to/docs/guides/read-unread).",
        "parameters": [
          {
            "name": "message_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Cherami resource ID returned by the API."
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "headers": {
              "X-Request-ID": {
                "description": "Identifies this request; include it when reporting a problem.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LabelResult"
                },
                "example": {
                  "id": "11111111-1111-4111-8111-111111111111",
                  "labels": []
                }
              }
            }
          },
          "400": {
            "description": "`invalid_json`: Send a valid UTF-8 JSON object, not an array or scalar.\n\n`invalid_labels`: Correct the label name, label change, filter group or discovery prefix the message names.",
            "headers": {
              "X-Request-ID": {
                "description": "Identifies this request; include it when reporting a problem.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "`unauthorized`: Send a valid API key as `Authorization: Bearer <key>`. If the key stopped working, get a new one through [recovery](https://cherami.to/docs/guides/recovery).",
            "headers": {
              "X-Request-ID": {
                "description": "Identifies this request; include it when reporting a problem.",
                "schema": {
                  "type": "string"
                }
              },
              "WWW-Authenticate": {
                "schema": {
                  "const": "Bearer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "`not_found`: The resource does not exist or does not belong to this account. A reply or forward source must also be in the sending inbox.",
            "headers": {
              "X-Request-ID": {
                "description": "Identifies this request; include it when reporting a problem.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "413": {
            "description": "`body_too_large`: Reduce the JSON request to the operation's body limit.",
            "headers": {
              "X-Request-ID": {
                "description": "Identifies this request; include it when reporting a problem.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "415": {
            "description": "`unsupported_media_type`: Send `Content-Type: application/json`.",
            "headers": {
              "X-Request-ID": {
                "description": "Identifies this request; include it when reporting a problem.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "`internal_error`: The operation failed. Retry a read; after a write the change may have happened, so recover as [retry by operation](https://cherami.to/docs/api/errors#retry-by-operation) describes.",
            "headers": {
              "X-Request-ID": {
                "description": "Identifies this request; include it when reporting a problem.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-error-codes": [
          "unauthorized",
          "invalid_json",
          "body_too_large",
          "unsupported_media_type",
          "not_found",
          "invalid_labels",
          "internal_error"
        ],
        "requestBody": {
          "required": true,
          "description": "JSON object, at most 20 KiB in total.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LabelChange"
              },
              "example": {
                "add_labels": [
                  "handled"
                ],
                "remove_labels": [
                  "needs-review"
                ]
              }
            }
          }
        },
        "x-request-body-limit": 20480,
        "x-example-body": {
          "add_labels": [
            "handled"
          ],
          "remove_labels": [
            "needs-review"
          ]
        }
      }
    },
    "/v1/messages/{message_id}/raw": {
      "get": {
        "operationId": "downloadRawMessage",
        "tags": [
          "messages"
        ],
        "summary": "Download raw MIME",
        "description": "Returns the message exactly as received, as `message/rfc822` bytes. It works in every processing state, including `failed`.",
        "parameters": [
          {
            "name": "message_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Cherami resource ID returned by the API."
          }
        ],
        "responses": {
          "200": {
            "description": "The original bytes, as a download.",
            "headers": {
              "X-Request-ID": {
                "description": "Identifies this request; include it when reporting a problem.",
                "schema": {
                  "type": "string"
                }
              },
              "Content-Disposition": {
                "schema": {
                  "type": "string"
                },
                "description": "Attachment disposition with a safely encoded suggested filename."
              },
              "Content-Length": {
                "schema": {
                  "type": "integer",
                  "minimum": 0
                },
                "description": "Original byte count."
              },
              "Cache-Control": {
                "schema": {
                  "type": "string"
                },
                "description": "Includes no-store."
              },
              "X-Content-Type-Options": {
                "schema": {
                  "const": "nosniff"
                }
              },
              "Content-Security-Policy": {
                "schema": {
                  "type": "string"
                },
                "description": "Sandbox with default-src 'none'."
              }
            },
            "content": {
              "message/rfc822": {}
            }
          },
          "401": {
            "description": "`unauthorized`: Send a valid API key as `Authorization: Bearer <key>`. If the key stopped working, get a new one through [recovery](https://cherami.to/docs/guides/recovery).",
            "headers": {
              "X-Request-ID": {
                "description": "Identifies this request; include it when reporting a problem.",
                "schema": {
                  "type": "string"
                }
              },
              "WWW-Authenticate": {
                "schema": {
                  "const": "Bearer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "`not_found`: The resource does not exist or does not belong to this account. A reply or forward source must also be in the sending inbox.",
            "headers": {
              "X-Request-ID": {
                "description": "Identifies this request; include it when reporting a problem.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "`internal_error`: The operation failed. Retry a read; after a write the change may have happened, so recover as [retry by operation](https://cherami.to/docs/api/errors#retry-by-operation) describes.",
            "headers": {
              "X-Request-ID": {
                "description": "Identifies this request; include it when reporting a problem.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "`content_unavailable`: Stored content could not be read. Retry later.",
            "headers": {
              "X-Request-ID": {
                "description": "Identifies this request; include it when reporting a problem.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-error-codes": [
          "unauthorized",
          "not_found",
          "content_unavailable",
          "internal_error"
        ]
      }
    },
    "/v1/messages/{message_id}/attachments/{attachment_id}": {
      "get": {
        "operationId": "downloadAttachment",
        "tags": [
          "messages"
        ],
        "summary": "Download a received attachment",
        "description": "Returns one received attachment's bytes, always as `application/octet-stream`; the type the sender declared is `mime_type` in the message's attachment metadata. Take `attachment_id` from `content.attachments` of a `ready` message.\n\nThe bytes are the sender's file: save them or pass them to a file tool.",
        "parameters": [
          {
            "name": "message_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Cherami resource ID returned by the API."
          },
          {
            "name": "attachment_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "id from the message's content.attachments, not a filename."
          }
        ],
        "responses": {
          "200": {
            "description": "The original bytes, as a download.",
            "headers": {
              "X-Request-ID": {
                "description": "Identifies this request; include it when reporting a problem.",
                "schema": {
                  "type": "string"
                }
              },
              "Content-Disposition": {
                "schema": {
                  "type": "string"
                },
                "description": "Attachment disposition with a safely encoded suggested filename."
              },
              "Content-Length": {
                "schema": {
                  "type": "integer",
                  "minimum": 0
                },
                "description": "Original byte count."
              },
              "Cache-Control": {
                "schema": {
                  "type": "string"
                },
                "description": "Includes no-store."
              },
              "X-Content-Type-Options": {
                "schema": {
                  "const": "nosniff"
                }
              },
              "Content-Security-Policy": {
                "schema": {
                  "type": "string"
                },
                "description": "Sandbox with default-src 'none'."
              }
            },
            "content": {
              "application/octet-stream": {}
            }
          },
          "401": {
            "description": "`unauthorized`: Send a valid API key as `Authorization: Bearer <key>`. If the key stopped working, get a new one through [recovery](https://cherami.to/docs/guides/recovery).",
            "headers": {
              "X-Request-ID": {
                "description": "Identifies this request; include it when reporting a problem.",
                "schema": {
                  "type": "string"
                }
              },
              "WWW-Authenticate": {
                "schema": {
                  "const": "Bearer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "`not_found`: The resource does not exist or does not belong to this account. A reply or forward source must also be in the sending inbox.",
            "headers": {
              "X-Request-ID": {
                "description": "Identifies this request; include it when reporting a problem.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "`internal_error`: The operation failed. Retry a read; after a write the change may have happened, so recover as [retry by operation](https://cherami.to/docs/api/errors#retry-by-operation) describes.",
            "headers": {
              "X-Request-ID": {
                "description": "Identifies this request; include it when reporting a problem.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "`content_unavailable`: Stored content could not be read. Retry later.",
            "headers": {
              "X-Request-ID": {
                "description": "Identifies this request; include it when reporting a problem.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-error-codes": [
          "unauthorized",
          "not_found",
          "content_unavailable",
          "internal_error"
        ]
      }
    },
    "/v1/sent/{message_id}": {
      "delete": {
        "operationId": "deleteSentMessage",
        "tags": [
          "sending"
        ],
        "summary": "Delete a sent copy",
        "description": "Moves the sent copy and its attachments to the inbox's [Trash](https://cherami.to/docs/api/trash/list-trash). [Restore it](https://cherami.to/docs/api/trash/restore-sent-message) within seven days; after that it is permanently deleted. A repeated request returns `202` or `404`.",
        "parameters": [
          {
            "name": "message_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Cherami resource ID returned by the API."
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted.",
            "headers": {
              "X-Request-ID": {
                "description": "Identifies this request; include it when reporting a problem.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Deleted"
                },
                "example": {
                  "id": "11111111-1111-4111-8111-111111111111",
                  "status": "deletion_pending",
                  "message": "Example"
                }
              }
            }
          },
          "401": {
            "description": "`unauthorized`: Send a valid API key as `Authorization: Bearer <key>`. If the key stopped working, get a new one through [recovery](https://cherami.to/docs/guides/recovery).",
            "headers": {
              "X-Request-ID": {
                "description": "Identifies this request; include it when reporting a problem.",
                "schema": {
                  "type": "string"
                }
              },
              "WWW-Authenticate": {
                "schema": {
                  "const": "Bearer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "`operation_not_allowed`: Sending, or deletion and restore, is turned off for this account; the message says which. Contact hello@cherami.to.",
            "headers": {
              "X-Request-ID": {
                "description": "Identifies this request; include it when reporting a problem.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "`not_found`: The resource does not exist or does not belong to this account. A reply or forward source must also be in the sending inbox.",
            "headers": {
              "X-Request-ID": {
                "description": "Identifies this request; include it when reporting a problem.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "`internal_error`: The operation failed. Retry a read; after a write the change may have happened, so recover as [retry by operation](https://cherami.to/docs/api/errors#retry-by-operation) describes.",
            "headers": {
              "X-Request-ID": {
                "description": "Identifies this request; include it when reporting a problem.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-error-codes": [
          "unauthorized",
          "not_found",
          "operation_not_allowed",
          "internal_error"
        ]
      },
      "patch": {
        "operationId": "updateSentMessageLabels",
        "tags": [
          "labels"
        ],
        "summary": "Label a sent copy",
        "description": "Adds and removes labels on one sent copy, with the same rules as [labelling a received message](https://cherami.to/docs/api/labels/update-message-labels).",
        "parameters": [
          {
            "name": "message_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Cherami resource ID returned by the API."
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "headers": {
              "X-Request-ID": {
                "description": "Identifies this request; include it when reporting a problem.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LabelResult"
                },
                "example": {
                  "id": "11111111-1111-4111-8111-111111111111",
                  "labels": []
                }
              }
            }
          },
          "400": {
            "description": "`invalid_json`: Send a valid UTF-8 JSON object, not an array or scalar.\n\n`invalid_labels`: Correct the label name, label change, filter group or discovery prefix the message names.",
            "headers": {
              "X-Request-ID": {
                "description": "Identifies this request; include it when reporting a problem.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "`unauthorized`: Send a valid API key as `Authorization: Bearer <key>`. If the key stopped working, get a new one through [recovery](https://cherami.to/docs/guides/recovery).",
            "headers": {
              "X-Request-ID": {
                "description": "Identifies this request; include it when reporting a problem.",
                "schema": {
                  "type": "string"
                }
              },
              "WWW-Authenticate": {
                "schema": {
                  "const": "Bearer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "`not_found`: The resource does not exist or does not belong to this account. A reply or forward source must also be in the sending inbox.",
            "headers": {
              "X-Request-ID": {
                "description": "Identifies this request; include it when reporting a problem.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "413": {
            "description": "`body_too_large`: Reduce the JSON request to the operation's body limit.",
            "headers": {
              "X-Request-ID": {
                "description": "Identifies this request; include it when reporting a problem.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "415": {
            "description": "`unsupported_media_type`: Send `Content-Type: application/json`.",
            "headers": {
              "X-Request-ID": {
                "description": "Identifies this request; include it when reporting a problem.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "`internal_error`: The operation failed. Retry a read; after a write the change may have happened, so recover as [retry by operation](https://cherami.to/docs/api/errors#retry-by-operation) describes.",
            "headers": {
              "X-Request-ID": {
                "description": "Identifies this request; include it when reporting a problem.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-error-codes": [
          "unauthorized",
          "invalid_json",
          "body_too_large",
          "unsupported_media_type",
          "not_found",
          "invalid_labels",
          "internal_error"
        ],
        "requestBody": {
          "required": true,
          "description": "JSON object, at most 20 KiB in total.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LabelChange"
              },
              "example": {
                "add_labels": [
                  "handled"
                ],
                "remove_labels": [
                  "needs-review"
                ]
              }
            }
          }
        },
        "x-request-body-limit": 20480,
        "x-example-body": {
          "add_labels": [
            "handled"
          ],
          "remove_labels": [
[...]
