{
  "openapi": "3.1.1",
  "info": {
    "title": "Cherami HTTP API",
    "version": "1.0.0",
    "description": "Email infrastructure for AI agents. This contract describes public HTTP operations, not MCP projections or browser-session adapters. HTTP success does not prove provider acceptance or delivery. Use the operation-specific recovery rules.",
    "contact": {
      "name": "Cherami",
      "email": "hello@cherami.to"
    }
  },
  "servers": [
    {
      "url": "https://cherami.to"
    }
  ],
  "security": [
    {
      "apiKey": []
    }
  ],
  "tags": [
    {
      "name": "inboxes"
    },
    {
      "name": "messages"
    },
    {
      "name": "labels"
    },
    {
      "name": "sending"
    },
    {
      "name": "drafts"
    },
    {
      "name": "threads"
    }
  ],
  "paths": {
    "/v1/inboxes": {
      "get": {
        "operationId": "listInboxes",
        "tags": [
          "inboxes"
        ],
        "summary": "List inboxes",
        "description": "`GET /v1/inboxes` returns `200`.\n\nThis list is not paginated. Use the returned `inbox_limit` as authoritative. `inbox_allowance` reports the cap, occupied slots and remaining slots as a current snapshot, not a reservation. List before creating or when recovering an uncertain allocation. Agents should use the human's assigned inbox, not assume every listed inbox is theirs to take over.",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful operation; inspect resource state and outcome fields.",
            "headers": {
              "X-Request-ID": {
                "description": "Support correlation ID, not an idempotency key.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InboxList"
                },
                "example": {
                  "inboxes": [],
                  "inbox_limit": 0,
                  "inbox_allowance": {
                    "allowance": 0,
                    "used": 0,
                    "remaining": 0,
                    "unit": "inbox_slots"
                  }
                }
              }
            }
          },
          "401": {
            "description": "`unauthorized`: Provide a valid bearer credential. Use [human-approved recovery](https://cherami.to/docs/guides/recovery) if access is lost.",
            "headers": {
              "X-Request-ID": {
                "description": "Support correlation ID, not an idempotency key.",
                "schema": {
                  "type": "string"
                }
              },
              "WWW-Authenticate": {
                "schema": {
                  "const": "Bearer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "`not_found`: Resource is absent or inaccessible to this account. Reply targets must be in the sending inbox.",
            "headers": {
              "X-Request-ID": {
                "description": "Support correlation ID, not an idempotency key.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "`internal_error`: Operation failed; a write may already have happened. Follow the operation-specific recovery below.",
            "headers": {
              "X-Request-ID": {
                "description": "Support correlation ID, not an idempotency key.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-error-codes": [
          "unauthorized",
          "not_found",
          "internal_error"
        ]
      },
      "post": {
        "operationId": "createInbox",
        "tags": [
          "inboxes"
        ],
        "summary": "Create an inbox",
        "description": "Both names accept Unicode text up to 256 UTF-8 bytes after trimming, without control characters. Omitted, null and blank names mean no name at creation. Existing inboxes without names return null for both fields. Names need not be unique. Unknown fields are rejected.\n\nAddresses are globally unique. `hello`, `test`, `reviewer_chatgpt` and prefixes beginning `reviewer_chatgpt_` are reserved; retired addresses cannot be reused. No custom domains or allocated-address renaming are supported. To replace an address while keeping the old inbox during transition, see [Change your agent's email address](https://cherami.to/docs/guides/change-email-address).\n\nNew creation returns `201` with the inbox object and `Location: /v1/inboxes/{id}`. `400` means invalid input. `409` covers unavailable addresses, the inbox cap and key conflicts. A definitive `address_unavailable` permits choosing another prefix; do not create accounts to evade a cap.\n\nAn inbox-cap failure has `error.code: \"inbox_limit_reached\"` and `error.details` containing `allowance` (the same shape as `inbox_allowance`), `increase_request` and `policy_url`. Request additional slots for another workflow or an address transition rather than retiring an inbox you still need. See [Free and custom allowances](https://cherami.to/pricing).\n\n### Recover creation\n\nCreation keys are scoped to the authenticated account across HTTP and MCP, independently of sending keys. Protection lasts **24 hours from successful allocation**, without renewal. Keyed results add `replayed` and `idempotency_expires_at`. Initial creation returns `201` with `replayed: false`; a matching retry returns `200` with `replayed: true` and the original inbox ID. Both supply `Location`.\n\nA replay returns the inbox's **current state**, not a frozen creation response. Later name edits are preserved. Retry with the original creation inputs, not those edited names. JSON property order is irrelevant; address-prefix case and surrounding whitespace, trimmed name whitespace, and absent/null/blank names normalize equivalently. Different validated inputs return `409 idempotency_conflict`.\n\nDeleting the inbox does not free an active key. A matching retry returns `409 idempotency_result_unavailable`, never allocates a replacement and never restores the deleted inbox. Concurrent matching requests allocate only one inbox and consume one slot.\n\nIf creation's outcome is uncertain, reuse the original key and unchanged payload **within 24 hours of your first request**. Do not replace the key or choose another address to resolve uncertainty. Validation and allocation failures that definitely precede creation do not consume a key; an infrastructure error may follow successful creation.\n\nAfter expiry, the key no longer protects a request. List inboxes and reconcile the intended address instead of blindly creating again. An existing or retired address remains unavailable, but that is not a replay result. Unkeyed creation is supported: another request for the same address conflicts rather than returning the original resource. If its response was lost, list inboxes before deciding what to do.",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Matching replay: current resource or saved attempt, without another allocation or provider submission.",
            "headers": {
              "X-Request-ID": {
                "description": "Support correlation ID, not an idempotency key.",
                "schema": {
                  "type": "string"
                }
              },
              "Location": {
                "description": "Relative URL of the resulting resource.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/CreatedInbox"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "replayed": {
                          "const": true
                        },
                        "idempotency_expires_at": {
                          "type": "string",
                          "description": "UTC service instant with milliseconds and Z suffix.",
                          "format": "date-time",
                          "pattern": "^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}\\.\\d{3}Z$"
                        }
                      },
                      "required": [
                        "replayed",
                        "idempotency_expires_at"
                      ]
                    }
                  ]
                },
                "example": {
                  "id": "11111111-1111-4111-8111-111111111111",
                  "local_part": "my-agent",
                  "address": "my-agent@cherami.to",
                  "name": null,
                  "sender_name": null,
                  "created_at": "2026-10-01T00:00:00.000Z",
                  "replayed": true,
                  "idempotency_expires_at": "2026-10-02T00:00:00.000Z"
                }
              }
            }
          },
          "201": {
            "description": "Successful operation; inspect resource state and outcome fields.",
            "headers": {
              "X-Request-ID": {
                "description": "Support correlation ID, not an idempotency key.",
                "schema": {
                  "type": "string"
                }
              },
              "Location": {
                "description": "Relative URL of the resulting resource.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/CreatedInbox"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "replayed": {
                          "const": false
                        }
                      },
                      "required": []
                    }
                  ]
                },
                "example": {
                  "id": "11111111-1111-4111-8111-111111111111",
                  "local_part": "my-agent",
                  "address": "my-agent@cherami.to",
                  "name": null,
                  "sender_name": null,
                  "created_at": "2026-10-01T00:00:00.000Z",
                  "replayed": false,
                  "idempotency_expires_at": "2026-10-02T00:00:00.000Z"
                }
              }
            }
          },
          "400": {
            "description": "`invalid_json`: Send a valid UTF-8 JSON object, not an array or scalar.\n\n`invalid_inbox`: Use supported inbox fields; editing requires at least one name field.\n\n`invalid_local_part`: Correct the requested [address prefix](https://cherami.to/docs/api/inboxes/create-inbox).\n\n`invalid_name`: Correct the inbox, sender or recipient display name using the returned guidance.\n\n`invalid_idempotency_key`: Use 1–128 ASCII letters, digits, hyphens or underscores.",
            "headers": {
              "X-Request-ID": {
                "description": "Support correlation ID, not an idempotency key.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "`unauthorized`: Provide a valid bearer credential. Use [human-approved recovery](https://cherami.to/docs/guides/recovery) if access is lost.",
            "headers": {
              "X-Request-ID": {
                "description": "Support correlation ID, not an idempotency key.",
                "schema": {
                  "type": "string"
                }
              },
              "WWW-Authenticate": {
                "schema": {
                  "const": "Bearer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "`not_found`: Resource is absent or inaccessible to this account. Reply targets must be in the sending inbox.",
            "headers": {
              "X-Request-ID": {
                "description": "Support correlation ID, not an idempotency key.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "`address_unavailable`: Choose another address prefix; this address cannot be allocated.\n\n`inbox_limit_reached`: Read `error.details.allowance` for occupied and remaining slots; [request an increase](https://cherami.to/docs/guides/support) if needed.\n\n`idempotency_conflict`: The key belongs to different input. Recover with the original inbox and payload, not a replacement key.\n\n`idempotency_result_unavailable`: The key was used but its inbox, draft or sent copy is unavailable. No replacement was created or submitted; do not bypass protection with a new key.",
            "headers": {
              "X-Request-ID": {
                "description": "Support correlation ID, not an idempotency key.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InboxError"
                }
              }
            }
          },
          "413": {
            "description": "`body_too_large`: Reduce the JSON request to the endpoint's body limit.",
            "headers": {
              "X-Request-ID": {
                "description": "Support correlation ID, not an idempotency key.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "415": {
            "description": "`unsupported_media_type`: Send `Content-Type: application/json`.",
            "headers": {
              "X-Request-ID": {
                "description": "Support correlation ID, not an idempotency key.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "`internal_error`: Operation failed; a write may already have happened. Follow the operation-specific recovery below.",
            "headers": {
              "X-Request-ID": {
                "description": "Support correlation ID, not an idempotency key.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-error-codes": [
          "unauthorized",
          "invalid_json",
          "body_too_large",
          "unsupported_media_type",
          "invalid_inbox",
          "invalid_local_part",
          "invalid_name",
          "invalid_idempotency_key",
          "address_unavailable",
          "inbox_limit_reached",
          "idempotency_conflict",
          "idempotency_result_unavailable",
          "not_found",
          "internal_error"
        ],
        "requestBody": {
          "required": true,
          "description": "JSON object. Total UTF-8 request body limit: 4096 bytes.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateInbox"
              },
              "example": {
                "local_part": "my-agent",
                "name": "Research",
                "idempotency_key": "RETAIN_A_UNIQUE_CREATION_KEY"
              }
            }
          }
        },
        "x-request-body-limit": 4096,
        "x-example-body": {
          "local_part": "my-agent",
          "name": "Research",
          "idempotency_key": "RETAIN_A_UNIQUE_CREATION_KEY"
        }
      }
    },
    "/v1/inboxes/{inbox_id}": {
      "get": {
        "operationId": "getInbox",
        "tags": [
          "inboxes"
        ],
        "summary": "Read an inbox",
        "description": "Returns the owned inbox’s address and current names. Missing, deleted and other-account resources return 404. Names do not isolate agents or change ownership.",
        "parameters": [
          {
            "name": "inbox_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Owned Cherami resource ID returned by the API."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation; inspect resource state and outcome fields.",
            "headers": {
              "X-Request-ID": {
                "description": "Support correlation ID, not an idempotency key.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Inbox"
                },
                "example": {
                  "id": "11111111-1111-4111-8111-111111111111",
                  "local_part": "my-agent",
                  "address": "my-agent@cherami.to",
                  "name": null,
                  "sender_name": null,
                  "created_at": "2026-10-01T00:00:00.000Z"
                }
              }
            }
          },
          "401": {
            "description": "`unauthorized`: Provide a valid bearer credential. Use [human-approved recovery](https://cherami.to/docs/guides/recovery) if access is lost.",
            "headers": {
              "X-Request-ID": {
                "description": "Support correlation ID, not an idempotency key.",
                "schema": {
                  "type": "string"
                }
              },
              "WWW-Authenticate": {
                "schema": {
                  "const": "Bearer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "`not_found`: Resource is absent or inaccessible to this account. Reply targets must be in the sending inbox.",
            "headers": {
              "X-Request-ID": {
                "description": "Support correlation ID, not an idempotency key.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "`internal_error`: Operation failed; a write may already have happened. Follow the operation-specific recovery below.",
            "headers": {
              "X-Request-ID": {
                "description": "Support correlation ID, not an idempotency key.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-error-codes": [
          "unauthorized",
          "not_found",
          "internal_error"
        ]
      },
      "patch": {
        "operationId": "updateInbox",
        "tags": [
          "inboxes"
        ],
        "summary": "Edit inbox names",
        "description": "Supply one or both editable names.\n\nReturns `200` with the updated inbox. Omitted fields stay unchanged; null or blank clears a name. The same name limits apply as at creation. An empty object, unknown fields, address or `local_part` changes are rejected. If an update's response is lost, read the inbox before repeating a change that could overwrite another editor's work.\n\nNeither name changes ownership or permissions. A sender-name edit affects subsequent submissions, not historical mail or a replayed send. A send already in progress may retain the earlier name.",
        "parameters": [
          {
            "name": "inbox_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Owned Cherami resource ID returned by the API."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation; inspect resource state and outcome fields.",
            "headers": {
              "X-Request-ID": {
                "description": "Support correlation ID, not an idempotency key.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Inbox"
                },
                "example": {
                  "id": "11111111-1111-4111-8111-111111111111",
                  "local_part": "my-agent",
                  "address": "my-agent@cherami.to",
                  "name": null,
                  "sender_name": null,
                  "created_at": "2026-10-01T00:00:00.000Z"
                }
              }
            }
          },
          "400": {
            "description": "`invalid_json`: Send a valid UTF-8 JSON object, not an array or scalar.\n\n`invalid_inbox`: Use supported inbox fields; editing requires at least one name field.\n\n`invalid_name`: Correct the inbox, sender or recipient display name using the returned guidance.",
            "headers": {
              "X-Request-ID": {
                "description": "Support correlation ID, not an idempotency key.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "`unauthorized`: Provide a valid bearer credential. Use [human-approved recovery](https://cherami.to/docs/guides/recovery) if access is lost.",
            "headers": {
              "X-Request-ID": {
                "description": "Support correlation ID, not an idempotency key.",
                "schema": {
                  "type": "string"
                }
              },
              "WWW-Authenticate": {
                "schema": {
                  "const": "Bearer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "`not_found`: Resource is absent or inaccessible to this account. Reply targets must be in the sending inbox.",
            "headers": {
              "X-Request-ID": {
                "description": "Support correlation ID, not an idempotency key.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "413": {
            "description": "`body_too_large`: Reduce the JSON request to the endpoint's body limit.",
            "headers": {
              "X-Request-ID": {
                "description": "Support correlation ID, not an idempotency key.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "415": {
            "description": "`unsupported_media_type`: Send `Content-Type: application/json`.",
            "headers": {
              "X-Request-ID": {
                "description": "Support correlation ID, not an idempotency key.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "`internal_error`: Operation failed; a write may already have happened. Follow the operation-specific recovery below.",
            "headers": {
              "X-Request-ID": {
                "description": "Support correlation ID, not an idempotency key.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-error-codes": [
          "unauthorized",
          "invalid_json",
          "body_too_large",
          "unsupported_media_type",
          "not_found",
          "invalid_inbox",
          "invalid_name",
          "internal_error"
        ],
        "requestBody": {
          "required": true,
          "description": "JSON object. Total UTF-8 request body limit: 4096 bytes.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateInbox"
              },
              "example": {
                "name": "Travel correspondence",
                "sender_name": null
              }
            }
          }
        },
        "x-request-body-limit": 4096,
        "x-example-body": {
          "name": "Travel correspondence",
          "sender_name": null
        }
      },
      "delete": {
        "operationId": "deleteInbox",
        "tags": [
          "inboxes"
        ],
        "summary": "Delete an inbox",
        "description": "`DELETE /v1/inboxes/{inbox_id}` returns `202`.\n\nPermanently deletes the inbox and its received mail, sent copies, attachments, and threads, including unfinished messages. Confirm the specific inbox and destructive scope with the human before calling it, especially with shared access. This is agent guidance, not an additional API approval flow.\n\nThe slot is freed and the address is permanently retired. Future incoming mail is rejected. Retrieval and new sends from the deleted inbox return `404`. Other inboxes and the credential remain unchanged. There is no undo or sending-quota refund.\n\nRepeating DELETE is safe and can return `202` or `404`. Missing or other-account resources also return `404`. The service support inbox `hello@cherami.to` returns `409 protected_inbox` to its owner.\n\n[Deletion guide and manual account deletion](https://cherami.to/docs/guides/deletion)",
        "parameters": [
          {
            "name": "inbox_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Owned Cherami resource ID returned by the API."
          }
        ],
        "responses": {
          "202": {
            "description": "Request accepted; inspect the response for its meaning.",
            "headers": {
              "X-Request-ID": {
                "description": "Support correlation ID, not an idempotency key.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Deleted"
                },
                "example": {
                  "id": "11111111-1111-4111-8111-111111111111",
                  "status": "deletion_pending",
                  "message": "Example"
                }
              }
            }
          },
          "401": {
            "description": "`unauthorized`: Provide a valid bearer credential. Use [human-approved recovery](https://cherami.to/docs/guides/recovery) if access is lost.",
            "headers": {
              "X-Request-ID": {
                "description": "Support correlation ID, not an idempotency key.",
                "schema": {
                  "type": "string"
                }
              },
              "WWW-Authenticate": {
                "schema": {
                  "const": "Bearer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "`operation_not_allowed`: This account cannot send mail, delete mail, or delete inboxes. Contact support if unexpected.",
            "headers": {
              "X-Request-ID": {
                "description": "Support correlation ID, not an idempotency key.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "`not_found`: Resource is absent or inaccessible to this account. Reply targets must be in the sending inbox.",
            "headers": {
              "X-Request-ID": {
                "description": "Support correlation ID, not an idempotency key.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "`protected_inbox`: The service support inbox cannot be deleted.",
            "headers": {
              "X-Request-ID": {
                "description": "Support correlation ID, not an idempotency key.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "`internal_error`: Operation failed; a write may already have happened. Follow the operation-specific recovery below.",
            "headers": {
              "X-Request-ID": {
                "description": "Support correlation ID, not an idempotency key.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-error-codes": [
          "unauthorized",
          "not_found",
          "operation_not_allowed",
          "protected_inbox",
          "internal_error"
        ]
      }
    },
    "/v1/inboxes/{inbox_id}/sending-policy": {
      "get": {
        "operationId": "getSendingPolicy",
        "tags": [
          "inboxes"
        ],
        "summary": "Inspect sending rules",
        "description": "`GET /v1/inboxes/{inbox_id}/sending-policy` returns `200`.\n\n`enabled: false` means unrestricted by this control, even when saved addresses or domains remain. When enabled, every To/Cc/Bcc recipient must match an exact address or an exact domain; both lists empty blocks all sending. Local-part case is significant, domain case is not, and plus tags/dots remain distinct. Names do not participate in matching. Each list contains at most 100 normalized, unique entries. Domains are lowercase ASCII, including punycode; matching does not include subdomains unless listed separately.\n\n`revision` is the saved policy version, starting at `0` for an unconfigured inbox. Inspection is not authorization for a later send: the policy at send reservation is authoritative. Missing, deleted and other-account inboxes return `404`.\n\nThis endpoint is read-only. Only the human’s browser session can edit rules in [Account → Sending rules](https://cherami.to/account/sending-rules), not an API key or OAuth mail grant. New inboxes start unrestricted. See [recipient restrictions](https://cherami.to/docs/guides/sending-rules) for setup and scope.",
        "parameters": [
          {
            "name": "inbox_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Owned Cherami resource ID returned by the API."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation; inspect resource state and outcome fields.",
            "headers": {
              "X-Request-ID": {
                "description": "Support correlation ID, not an idempotency key.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Policy"
                },
                "example": {
                  "inbox_id": "11111111-1111-4111-8111-111111111111",
                  "enabled": true,
                  "addresses": [],
                  "domains": [],
                  "revision": 0
                }
              }
            }
          },
          "401": {
            "description": "`unauthorized`: Provide a valid bearer credential. Use [human-approved recovery](https://cherami.to/docs/guides/recovery) if access is lost.",
            "headers": {
              "X-Request-ID": {
                "description": "Support correlation ID, not an idempotency key.",
                "schema": {
                  "type": "string"
                }
              },
              "WWW-Authenticate": {
                "schema": {
                  "const": "Bearer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "`not_found`: Resource is absent or inaccessible to this account. Reply targets must be in the sending inbox.",
            "headers": {
              "X-Request-ID": {
                "description": "Support correlation ID, not an idempotency key.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "`internal_error`: Operation failed; a write may already have happened. Follow the operation-specific recovery below.",
            "headers": {
              "X-Request-ID": {
                "description": "Support correlation ID, not an idempotency key.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-error-codes": [
          "unauthorized",
          "not_found",
          "internal_error"
        ]
      }
    },
    "/v1/inboxes/{inbox_id}/receiving-policy": {
      "get": {
        "operationId": "getReceivingPolicy",
        "tags": [
          "inboxes"
        ],
        "summary": "Inspect receiving rules",
        "description": "`GET /v1/inboxes/{inbox_id}/receiving-policy` returns `200`.\n\n`enabled: false` pauses blocking without clearing either saved list. When enabled, any supported parsed From address matching an exact address **or** exact domain rejects the incoming mail. Empty lists block nothing. Local-part case matters; domain case does not. Plus tags and dots stay distinct. Each list has at most 100 normalized, unique entries. Domains are lowercase ASCII, including punycode, with no implicit subdomain matching.\n\n`revision` is the saved version, starting at `0` for an unconfigured inbox. Missing, deleted and other-account inboxes return `404`. Inspection is read-only and cannot promise the policy for a later receipt.\n\nOnly the human’s browser session can edit rules in [Account → Receiving rules](https://cherami.to/account/receiving-rules), not an API key or OAuth mail grant. See [receiving rules](https://cherami.to/docs/guides/receiving-rules) for parsing boundaries and rejection behavior. From is sender-controlled, not authenticated identity; existing messages are never hidden or deleted by a policy change.",
        "parameters": [
          {
            "name": "inbox_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Owned Cherami resource ID returned by the API."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation; inspect resource state and outcome fields.",
            "headers": {
              "X-Request-ID": {
                "description": "Support correlation ID, not an idempotency key.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Policy"
                },
                "example": {
                  "inbox_id": "11111111-1111-4111-8111-111111111111",
                  "enabled": true,
                  "addresses": [],
                  "domains": [],
                  "revision": 0
                }
              }
            }
          },
          "401": {
            "description": "`unauthorized`: Provide a valid bearer credential. Use [human-approved recovery](https://cherami.to/docs/guides/recovery) if access is lost.",
            "headers": {
              "X-Request-ID": {
                "description": "Support correlation ID, not an idempotency key.",
                "schema": {
                  "type": "string"
                }
              },
              "WWW-Authenticate": {
                "schema": {
                  "const": "Bearer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "`not_found`: Resource is absent or inaccessible to this account. Reply targets must be in the sending inbox.",
            "headers": {
              "X-Request-ID": {
                "description": "Support correlation ID, not an idempotency key.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "`internal_error`: Operation failed; a write may already have happened. Follow the operation-specific recovery below.",
            "headers": {
              "X-Request-ID": {
                "description": "Support correlation ID, not an idempotency key.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-error-codes": [
          "unauthorized",
          "not_found",
          "internal_error"
        ]
      }
    },
    "/v1/inboxes/{inbox_id}/messages": {
      "get": {
        "operationId": "listMessages",
        "tags": [
          "messages"
        ],
        "summary": "List received messages",
        "description": "Returns `200` with `messages` and `next_cursor`. Messages default to newest-received first. Combine keyword search, sender, recipient, subject, date and label filters; `order` accepts `newest`, `oldest`, or `relevance`. See [search and filtering](https://cherami.to/docs/guides/search). `limit` is 1–100, default 20. Follow the returned cursor as a URL-encoded `cursor` parameter on the same URL. Use `labels_all` for required tags, optionally combined with `labels_any` and `labels_none`. Keep the same filters when following a cursor. See [pagination](https://cherami.to/docs/api/errors#pagination) and [label filtering](https://cherami.to/docs/guides/labels).\n\nThe response schema describes every summary field. `subject` may be null. `thread_id` is null until parsing succeeds. Only ready summaries additionally contain `from`, with a parsed address or null if absent. It is omitted for other states.\n\nA parsed address is a mailbox (`{\"name\":\"Sender\",\"address\":\"sender@example.com\"}`) or group (`{\"name\":\"Team\",\"group\":[{\"name\":\"Sender\",\"address\":\"sender@example.com\"}]}`). Parsed From is sender-supplied, not proof of identity. `envelope_from` is the SMTP sender and may be a bounce address.\n\n### Previews\n\nBoth received and sent listings include `preview`: null when derived content is not ready or unavailable, otherwise an object:\n\n`text` is the beginning of the extracted reply when available, otherwise the plain-text body or text derived from HTML. Whitespace is normalized and the excerpt is capped at 300 Unicode code points, preferably at a word boundary. `source` is `reply_text`, `text`, or `html`; `truncated` indicates that the chosen text exceeded the excerpt. A short excerpt may contain the whole chosen text, not necessarily the whole original email. A genuinely empty extracted reply produces `text: \"\"`, not null. Previews are deterministic excerpts, not summaries or read/unread state.",
        "parameters": [
          {
            "name": "inbox_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Owned Cherami resource ID returned by the API."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            },
            "description": "Decimal integer without signs, whitespace or leading zeroes."
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Opaque returned cursor. Keep resource URL, filters and ordering unchanged; stop when next_cursor is null."
          },
          {
            "name": "query",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Nonempty lexical subject/body search, at most 512 UTF-16 code units and 16 words or closed quoted phrases. Every term must match; no raw FTS operators. Attachments and filenames are excluded."
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Exact case-insensitive bare parsed-header address. At most 320 UTF-16 code units before trimming; not the SMTP envelope."
          },
          {
            "name": "recipient",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Exact case-insensitive bare parsed-header address. At most 320 UTF-16 code units before trimming; not the SMTP envelope."
          },
          {
            "name": "subject",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Case-insensitive literal substring, nonblank and at most 998 UTF-16 code units before trimming."
          },
          {
            "name": "after",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}(?:\\.\\d{1,3})?(?:Z|[+-]\\d{2}:\\d{2})$"
            },
            "description": "Inclusive lower service receipt/submission bound. Timezone-qualified valid calendar instant; after must precede before. URL-encode normally, including literal plus signs in offsets."
          },
          {
            "name": "before",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}(?:\\.\\d{1,3})?(?:Z|[+-]\\d{2}:\\d{2})$"
            },
            "description": "Exclusive upper service receipt/submission bound. Timezone-qualified valid calendar instant; after must precede before. URL-encode normally, including literal plus signs in offsets."
          },
          {
            "name": "labels_all",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/Label"
              },
              "maxItems": 32
            },
            "description": "Require every listed label. Repeat this parameter per label, never comma-separate. Groups combine with AND; contradictory filters match nothing. Omit unused groups; use labels_all even for one label. Normalized set order and duplicates do not change cursor scope.",
            "style": "form",
            "explode": true
          },
          {
            "name": "labels_any",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/Label"
              },
              "maxItems": 32
            },
            "description": "Require at least one listed label. Repeat this parameter per label, never comma-separate. Groups combine with AND; contradictory filters match nothing. Omit unused groups; use labels_all even for one label. Normalized set order and duplicates do not change cursor scope.",
            "style": "form",
            "explode": true
          },
          {
            "name": "labels_none",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/Label"
              },
              "maxItems": 32
            },
            "description": "Exclude any message carrying a listed label; unlabeled messages qualify. Repeat this parameter per label, never comma-separate. Groups combine with AND; contradictory filters match nothing. Omit unused groups; use labels_all even for one label. Normalized set order and duplicates do not change cursor scope.",
            "style": "form",
            "explode": true
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "newest",
                "oldest",
                "relevance"
              ],
              "default": "newest"
            },
            "description": "relevance requires query. Listings are live views, not snapshots."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation; inspect resource state and outcome fields.",
            "headers": {
              "X-Request-ID": {
                "description": "Support correlation ID, not an idempotency key.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "messages": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ReceivedSummary"
                      }
                    },
                    "next_cursor": {
                      "anyOf": [
                        {
                          "type": "string",
                          "description": "Opaque cursor; preserve resource, filters and order."
                        },
                        {
                          "type": "null"
                        }
                      ]
                    }
                  },
                  "required": [
                    "messages",
                    "next_cursor"
                  ]
                },
                "example": {
                  "messages": [],
                  "next_cursor": null
                }
              }
            }
          },
          "400": {
            "description": "`invalid_limit`: Use an integer from 1 to 100.\n\n`invalid_cursor`: Use the cursor with its original resource and filters, or restart from the first page. Draft listings instead report invalid_draft.\n\n`invalid_search`: Correct search terms, filters, timestamps, or ordering. See [search](https://cherami.to/docs/guides/search).\n\n`invalid_labels`: Correct label names, changes, filter groups, or discovery prefix.",
            "headers": {
              "X-Request-ID": {
                "description": "Support correlation ID, not an idempotency key.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "`unauthorized`: Provide a valid bearer credential. Use [human-approved recovery](https://cherami.to/docs/guides/recovery) if access is lost.",
            "headers": {
              "X-Request-ID": {
                "description": "Support correlation ID, not an idempotency key.",
                "schema": {
                  "type": "string"
                }
              },
              "WWW-Authenticate": {
                "schema": {
                  "const": "Bearer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "`not_found`: Resource is absent or inaccessible to this account. Reply targets must be in the sending inbox.",
            "headers": {
              "X-Request-ID": {
                "description": "Support correlation ID, not an idempotency key.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "`internal_error`: Operation failed; a write may already have happened. Follow the operation-specific recovery below.",
            "headers": {
              "X-Request-ID": {
                "description": "Support correlation ID, not an idempotency key.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-error-codes": [
          "unauthorized",
          "not_found",
          "invalid_limit",
          "invalid_cursor",
          "invalid_search",
          "invalid_labels",
          "internal_error"
        ]
      }
    },
    "/v1/inboxes/{inbox_id}/messages/count": {
      "get": {
        "operationId": "countMessages",
        "tags": [
          "messages"
        ],
        "summary": "Count received messages",
        "description": "`GET /v1/inboxes/{inbox_id}/messages/count` returns `200` with `{\"count\":3}`.\n\nThe same search and filters as the received list apply, including combined and exclusion filters. This is the current count, including unfinished messages, not an unread count or a snapshot shared with pagination.",
        "parameters": [
          {
            "name": "inbox_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Owned Cherami resource ID returned by the API."
          },
          {
            "name": "query",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Nonempty lexical subject/body search, at most 512 UTF-16 code units and 16 words or closed quoted phrases. Every term must match; no raw FTS operators. Attachments and filenames are excluded."
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Exact case-insensitive bare parsed-header address. At most 320 UTF-16 code units before trimming; not the SMTP envelope."
          },
          {
            "name": "recipient",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Exact case-insensitive bare parsed-header address. At most 320 UTF-16 code units before trimming; not the SMTP envelope."
          },
          {
            "name": "subject",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Case-insensitive literal substring, nonblank and at most 998 UTF-16 code units before trimming."
          },
          {
            "name": "after",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}(?:\\.\\d{1,3})?(?:Z|[+-]\\d{2}:\\d{2})$"
            },
            "description": "Inclusive lower service receipt/submission bound. Timezone-qualified valid calendar instant; after must precede before. URL-encode normally, including literal plus signs in offsets."
          },
          {
            "name": "before",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}(?:\\.\\d{1,3})?(?:Z|[+-]\\d{2}:\\d{2})$"
            },
            "description": "Exclusive upper service receipt/submission bound. Timezone-qualified valid calendar instant; after must precede before. URL-encode normally, including literal plus signs in offsets."
          },
          {
            "name": "labels_all",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/Label"
              },
              "maxItems": 32
            },
            "description": "Require every listed label. Repeat this parameter per label, never comma-separate. Groups combine with AND; contradictory filters match nothing. Omit unused groups; use labels_all even for one label. Normalized set order and duplicates do not change cursor scope.",
            "style": "form",
            "explode": true
          },
          {
            "name": "labels_any",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/Label"
              },
              "maxItems": 32
            },
            "description": "Require at least one listed label. Repeat this parameter per label, never comma-separate. Groups combine with AND; contradictory filters match nothing. Omit unused groups; use labels_all even for one label. Normalized set order and duplicates do not change cursor scope.",
            "style": "form",
            "explode": true
          },
          {
            "name": "labels_none",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/Label"
              },
              "maxItems": 32
            },
            "description": "Exclude any message carrying a listed label; unlabeled messages qualify. Repeat this parameter per label, never comma-separate. Groups combine with AND; contradictory filters match nothing. Omit unused groups; use labels_all even for one label. Normalized set order and duplicates do not change cursor scope.",
            "style": "form",
            "explode": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation; inspect resource state and outcome fields.",
            "headers": {
              "X-Request-ID": {
                "description": "Support correlation ID, not an idempotency key.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "integer",
                      "minimum": 0
                    }
                  },
                  "required": [
                    "count"
                  ]
                },
                "example": {
                  "count": 0
                }
              }
            }
          },
          "400": {
            "description": "`invalid_search`: Correct search terms, filters, timestamps, or ordering. See [search](https://cherami.to/docs/guides/search).\n\n`invalid_labels`: Correct label names, changes, filter groups, or discovery prefix.",
            "headers": {
              "X-Request-ID": {
                "description": "Support correlation ID, not an idempotency key.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "`unauthorized`: Provide a valid bearer credential. Use [human-approved recovery](https://cherami.to/docs/guides/recovery) if access is lost.",
            "headers": {
              "X-Request-ID": {
                "description": "Support correlation ID, not an idempotency key.",
                "schema": {
                  "type": "string"
                }
              },
              "WWW-Authenticate": {
                "schema": {
                  "const": "Bearer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "`not_found`: Resource is absent or inaccessible to this account. Reply targets must be in the sending inbox.",
            "headers": {
              "X-Request-ID": {
                "description": "Support correlation ID, not an idempotency key.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "`internal_error`: Operation failed; a write may already have happened. Follow the operation-specific recovery below.",
            "headers": {
              "X-Request-ID": {
                "description": "Support correlation ID, not an idempotency key.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-error-codes": [
          "unauthorized",
          "not_found",
          "invalid_search",
          "invalid_labels",
          "internal_error"
        ]
      }
    },
    "/v1/messages/{message_id}": {
      "get": {
        "operationId": "getMessage",
        "tags": [
          "messages"
        ],
        "summary": "Read a received message",
        "description": "Returns received metadata, raw size and processing completion time. The list-only `from` and `preview` are omitted.\n\nReady content includes original prepared bodies, parsed header values, extracted reply text and attachment metadata. Unfinished and failed detail responses omit content.\n\nEach received attachment has `id` (string), `filename` (string or null), `size` (bytes), `mime_type`, `disposition` (string or null), `content_id` (string or null), and `related` (boolean). Use its `id` in the attachment download route.\n\nReply extraction preserves original bodies and does not change full-body search. It prefers plain text and derives text from HTML-only mail without rendering or fetching resources. It can miss unusual quoting or omit inline answers; read `text` or `html` when the full context matters. Explicitly marked forwards are retained rather than treated as quoted replies. Extraction failure does not fail ordinary retrieval.\n\n### Processing states\n\n`pending` and `processing` mean prepared content is not ready. Check later with bounded backoff. `ready` supplies `content`; `failed` does not. All four states can return detail `200`. Raw MIME remains available in unfinished and failed states. Missing stored content can return `503 content_unavailable`.",
        "parameters": [
          {
            "name": "message_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Owned Cherami resource ID returned by the API."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation; inspect resource state and outcome fields.",
            "headers": {
              "X-Request-ID": {
                "description": "Support correlation ID, not an idempotency key.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReceivedDetail"
                },
                "example": {
                  "id": "11111111-1111-4111-8111-111111111111",
                  "inbox_id": "11111111-1111-4111-8111-111111111111",
                  "thread_id": null,
                  "envelope_from": "sender@example.com",
                  "envelope_to": "my-agent@cherami.to",
                  "subject": null,
                  "received_at": "2026-10-01T00:00:00.000Z",
                  "processing_status": "ready",
                  "labels": [],
                  "message_id": null,
                  "raw_size": 0,
                  "processed_at": null,
                  "content": {
                    "from": null,
                    "sender": null,
                    "reply_to": [],
                    "to": [],
                    "cc": [],
                    "bcc": [],
                    "subject": null,
                    "message_id": null,
                    "in_reply_to": null,
                    "references": null,
                    "date": null,
                    "reply_text": null,
                    "text": null,
                    "html": null,
                    "attachments": []
                  }
                }
              }
            }
          },
          "401": {
            "description": "`unauthorized`: Provide a valid bearer credential. Use [human-approved recovery](https://cherami.to/docs/guides/recovery) if access is lost.",
            "headers": {
              "X-Request-ID": {
                "description": "Support correlation ID, not an idempotency key.",
                "schema": {
                  "type": "string"
                }
              },
              "WWW-Authenticate": {
                "schema": {
                  "const": "Bearer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "`not_found`: Resource is absent or inaccessible to this account. Reply targets must be in the sending inbox.",
            "headers": {
              "X-Request-ID": {
                "description": "Support correlation ID, not an idempotency key.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "`internal_error`: Operation failed; a write may already have happened. Follow the operation-specific recovery below.",
            "headers": {
              "X-Request-ID": {
                "description": "Support correlation ID, not an idempotency key.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "`content_unavailable`: Expected stored content is unavailable. Retry the read later.",
            "headers": {
              "X-Request-ID": {
                "description": "Support correlation ID, not an idempotency key.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-error-codes": [
          "unauthorized",
          "not_found",
          "content_unavailable",
          "internal_error"
        ]
      },
      "delete": {
        "operationId": "deleteMessage",
        "tags": [
          "messages"
        ],
        "summary": "Delete a received message",
        "description": "`DELETE /v1/messages/{message_id}` returns `202`.\n\nPermanently deletes the received message and its attachments, including when parsing is unfinished. No trash or undo. It is no longer available for retrieval or as a new reply target. Repeated deletion is safe and can return `202` or `404`.\n\n[Receiving guide](https://cherami.to/docs/guides/receiving) · [Deletion guide](https://cherami.to/docs/guides/deletion)",
        "parameters": [
          {
            "name": "message_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Owned Cherami resource ID returned by the API."
          }
        ],
        "responses": {
          "202": {
            "description": "Request accepted; inspect the response for its meaning.",
            "headers": {
              "X-Request-ID": {
                "description": "Support correlation ID, not an idempotency key.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Deleted"
                },
                "example": {
                  "id": "11111111-1111-4111-8111-111111111111",
                  "status": "deletion_pending",
                  "message": "Example"
                }
              }
            }
          },
          "401": {
            "description": "`unauthorized`: Provide a valid bearer credential. Use [human-approved recovery](https://cherami.to/docs/guides/recovery) if access is lost.",
            "headers": {
              "X-Request-ID": {
                "description": "Support correlation ID, not an idempotency key.",
                "schema": {
                  "type": "string"
                }
              },
              "WWW-Authenticate": {
                "schema": {
                  "const": "Bearer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "`operation_not_allowed`: This account cannot send mail, delete mail, or delete inboxes. Contact support if unexpected.",
            "headers": {
              "X-Request-ID": {
                "description": "Support correlation ID, not an idempotency key.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "`not_found`: Resource is absent or inaccessible to this account. Reply targets must be in the sending inbox.",
            "headers": {
              "X-Request-ID": {
                "description": "Support correlation ID, not an idempotency key.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "`internal_error`: Operation failed; a write may already have happened. Follow the operation-specific recovery below.",
            "headers": {
              "X-Request-ID": {
                "description": "Support correlation ID, not an idempotency key.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-error-codes": [
          "unauthorized",
          "not_found",
          "operation_not_allowed",
          "internal_error"
        ]
      },
      "patch": {
        "operationId": "updateMessageLabels",
        "tags": [
          "labels"
        ],
        "summary": "Label a received message",
        "description": "Use the endpoint for the message copy you want to organize:\n\n- `PATCH /v1/messages/{message_id}` for received mail.\n- `PATCH /v1/sent/{message_id}` for a saved outgoing message.\n\nBoth require bearer authentication and `Content-Type: application/json`. The JSON body is limited to 20 KiB.\n\nAt least one array must contain a label. Unknown fields are rejected. Duplicate names within an array are ignored. A name cannot appear in both arrays after trimming.\n\nNames must contain 1–128 UTF-8 bytes after trimming surrounding whitespace, with no control characters or malformed Unicode. Case is preserved: `Receipts` and `receipts` are different tags. Labels are a set; do not rely on their order.\n\nA successful update returns `200` with the resulting labels:\n\nAdditions and removals apply together without replacing unrelated labels. Repeating the same update does not duplicate labels. Concurrent changes to different labels are preserved; opposite changes to the same label follow write order. Labels are not a work-claiming lock.\n\nInvalid changes return `400 invalid_labels`. Missing, deleted, or other-account messages return `404`. Label updates do not require sending or deletion permission and consume no sending allowance.",
        "parameters": [
          {
            "name": "message_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Owned Cherami resource ID returned by the API."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation; inspect resource state and outcome fields.",
            "headers": {
              "X-Request-ID": {
                "description": "Support correlation ID, not an idempotency key.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LabelResult"
                },
                "example": {
                  "id": "11111111-1111-4111-8111-111111111111",
                  "labels": []
                }
              }
            }
          },
          "400": {
            "description": "`invalid_json`: Send a valid UTF-8 JSON object, not an array or scalar.\n\n`invalid_labels`: Correct label names, changes, filter groups, or discovery prefix.",
            "headers": {
              "X-Request-ID": {
                "description": "Support correlation ID, not an idempotency key.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "`unauthorized`: Provide a valid bearer credential. Use [human-approved recovery](https://cherami.to/docs/guides/recovery) if access is lost.",
            "headers": {
              "X-Request-ID": {
                "description": "Support correlation ID, not an idempotency key.",
                "schema": {
                  "type": "string"
                }
              },
              "WWW-Authenticate": {
                "schema": {
                  "const": "Bearer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "`not_found`: Resource is absent or inaccessible to this account. Reply targets must be in the sending inbox.",
            "headers": {
              "X-Request-ID": {
                "description": "Support correlation ID, not an idempotency key.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "413": {
            "description": "`body_too_large`: Reduce the JSON request to the endpoint's body limit.",
            "headers": {
              "X-Request-ID": {
                "description": "Support correlation ID, not an idempotency key.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "415": {
            "description": "`unsupported_media_type`: Send `Content-Type: application/json`.",
            "headers": {
              "X-Request-ID": {
                "description": "Support correlation ID, not an idempotency key.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "`internal_error`: Operation failed; a write may already have happened. Follow the operation-specific recovery below.",
            "headers": {
              "X-Request-ID": {
                "description": "Support correlation ID, not an idempotency key.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-error-codes": [
          "unauthorized",
          "invalid_json",
          "body_too_large",
          "unsupported_media_type",
          "not_found",
          "invalid_labels",
          "internal_error"
        ],
        "requestBody": {
          "required": true,
          "description": "JSON object. Total UTF-8 request body limit: 20480 bytes.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LabelChange"
              },
              "example": {
                "add_labels": [
                  "handled"
                ],
                "remove_labels": [
                  "needs-review"
                ]
              }
            }
          }
        },
        "x-request-body-limit": 20480,
        "x-example-body": {
          "add_labels": [
            "handled"
          ],
          "remove_labels": [
            "needs-review"
          ]
        }
      }
    },
    "/v1/messages/{message_id}/raw": {
      "get": {
        "operationId": "downloadRawMessage",
        "tags": [
          "messages"
        ],
        "summary": "Download raw MIME",
        "description": "Returns `200` with original MIME bytes, `Content-Type: message/rfc822`, and attachment disposition. This does not require successful parsing.",
        "parameters": [
          {
            "name": "message_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Owned Cherami resource ID returned by the API."
          }
        ],
        "responses": {
          "200": {
            "description": "Original bytes, served as a download.",
            "headers": {
              "X-Request-ID": {
                "description": "Support correlation ID, not an idempotency key.",
                "schema": {
                  "type": "string"
                }
              },
              "Content-Disposition": {
                "schema": {
                  "type": "string"
                },
                "description": "Attachment disposition with a safely encoded suggested filename."
              },
              "Content-Length": {
                "schema": {
                  "type": "integer",
                  "minimum": 0
                },
                "description": "Original byte count."
              },
              "Cache-Control": {
                "schema": {
                  "type": "string"
                },
                "description": "Includes no-store."
              },
              "X-Content-Type-Options": {
                "schema": {
                  "const": "nosniff"
                }
              },
              "Content-Security-Policy": {
                "schema": {
                  "type": "string"
                },
                "description": "Sandbox with default-src 'none'."
              }
            },
            "content": {
              "message/rfc822": {}
            }
          },
          "401": {
            "description": "`unauthorized`: Provide a valid bearer credential. Use [human-approved recovery](https://cherami.to/docs/guides/recovery) if access is lost.",
            "headers": {
              "X-Request-ID": {
                "description": "Support correlation ID, not an idempotency key.",
                "schema": {
                  "type": "string"
                }
              },
              "WWW-Authenticate": {
                "schema": {
                  "const": "Bearer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "`not_found`: Resource is absent or inaccessible to this account. Reply targets must be in the sending inbox.",
            "headers": {
              "X-Request-ID": {
                "description": "Support correlation ID, not an idempotency key.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "`internal_error`: Operation failed; a write may already have happened. Follow the operation-specific recovery below.",
            "headers": {
              "X-Request-ID": {
                "description": "Support correlation ID, not an idempotency key.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "`content_unavailable`: Expected stored content is unavailable. Retry the read later.",
            "headers": {
              "X-Request-ID": {
                "description": "Support correlation ID, not an idempotency key.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-error-codes": [
          "unauthorized",
          "not_found",
          "content_unavailable",
          "internal_error"
        ]
      }
    },
    "/v1/messages/{message_id}/attachments/{attachment_id}": {
      "get": {
        "operationId": "downloadAttachment",
        "tags": [
          "messages"
        ],
        "summary": "Download a received attachment",
        "description": "Returns `200` with file bytes, `Content-Type: application/octet-stream`, and attachment disposition. Use the ID returned in ready content, not a guessed filename. An unavailable attachment or a message that is not ready returns `404`; missing stored content can return `503`.\n\nDownloads use `no-store`, `nosniff`, and a sandbox content security policy. Reported filenames and MIME metadata do not establish that files are safe to execute or render.",
        "parameters": [
          {
            "name": "message_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Owned Cherami resource ID returned by the API."
          },
          {
            "name": "attachment_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID from received attachment metadata, not a filename."
          }
        ],
        "responses": {
          "200": {
            "description": "Original bytes, served as a download.",
            "headers": {
              "X-Request-ID": {
                "description": "Support correlation ID, not an idempotency key.",
                "schema": {
                  "type": "string"
                }
              },
              "Content-Disposition": {
                "schema": {
                  "type": "string"
                },
                "description": "Attachment disposition with a safely encoded suggested filename."
              },
              "Content-Length": {
                "schema": {
                  "type": "integer",
                  "minimum": 0
                },
                "description": "Original byte count."
              },
              "Cache-Control": {
                "schema": {
                  "type": "string"
                },
                "description": "Includes no-store."
              },
              "X-Content-Type-Options": {
                "schema": {
                  "const": "nosniff"
                }
              },
              "Content-Security-Policy": {
                "schema": {
                  "type": "string"
                },
                "description": "Sandbox with default-src 'none'."
              }
            },
            "content": {
              "application/octet-stream": {}
            }
          },
          "401": {
            "description": "`unauthorized`: Provide a valid bearer credential. Use [human-approved recovery](https://cherami.to/docs/guides/recovery) if access is lost.",
            "headers": {
              "X-Request-ID": {
                "description": "Support correlation ID, not an idempotency key.",
                "schema": {
                  "type": "string"
                }
              },
              "WWW-Authenticate": {
                "schema": {
                  "const": "Bearer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "`not_found`: Resource is absent or inaccessible to this account. Reply targets must be in the sending inbox.",
            "headers": {
              "X-Request-ID": {
                "description": "Support correlation ID, not an idempotency key.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "`internal_error`: Operation failed; a write may already have happened. Follow the operation-specific recovery below.",
            "headers": {
              "X-Request-ID": {
                "description": "Support correlation ID, not an idempotency key.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "`content_unavailable`: Expected stored content is unavailable. Retry the read later.",
            "headers": {
              "X-Request-ID": {
                "description": "Support correlation ID, not an idempotency key.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-error-codes": [
          "unauthorized",
          "not_found",
          "content_unavailable",
          "internal_error"
        ]
      }
    },
    "/v1/sent/{message_id}": {
      "delete": {
        "operationId": "deleteSentMessage",
        "tags": [
          "sending"
        ],
        "summary": "Delete a sent copy",
        "description": "`DELETE /v1/sent/{message_id}` returns `202` with `id` and `status: \"deletion_pending\"`. Permanently deletes the sent copy and its attachments with no trash or undo. Deletion does not refund sending quota. Repeating DELETE is safe and can return `202` or `404`.",
        "parameters": [
          {
            "name": "message_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Owned Cherami resource ID returned by the API."
          }
        ],
        "responses": {
          "202": {
            "description": "Request accepted; inspect the response for its meaning.",
            "headers": {
              "X-Request-ID": {
                "description": "Support correlation ID, not an idempotency key.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Deleted"
                },
                "example": {
                  "id": "11111111-1111-4111-8111-111111111111",
                  "status": "deletion_pending",
                  "message": "Example"
                }
              }
            }
          },
          "401": {
            "description": "`unauthorized`: Provide a valid bearer credential. Use [human-approved recovery](https://cherami.to/docs/guides/recovery) if access is lost.",
            "headers": {
              "X-Request-ID": {
                "description": "Support correlation ID, not an idempotency key.",
                "schema": {
                  "type": "string"
                }
              },
              "WWW-Authenticate": {
                "schema": {
                  "const": "Bearer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "`operation_not_allowed`: This account cannot send mail, delete mail, or delete inboxes. Contact support if unexpected.",
            "headers": {
              "X-Request-ID": {
                "description": "Support correlation ID, not an idempotency key.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "`not_found`: Resource is absent or inaccessible to this account. Reply targets must be in the sending inbox.",
            "headers": {
              "X-Request-ID": {
                "description": "Support correlation ID, not an idempotency key.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "`internal_error`: Operation failed; a write may already have happened. Follow the operation-specific recovery below.",
            "headers": {
              "X-Request-ID": {
                "description": "Support correlation ID, not an idempotency key.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-error-codes": [
          "unauthorized",
          "not_found",
          "operation_not_allowed",
          "internal_error"
        ]
      },
      "patch": {
        "operationId": "updateSentMessageLabels",
        "tags": [
          "labels"
        ],
        "summary": "Label a sent copy",
        "description": "Use the endpoint for the message copy you want to organize:\n\n- `PATCH /v1/messages/{message_id}` for received mail.\n- `PATCH /v1/sent/{message_id}` for a saved outgoing message.\n\nBoth require bearer authentication and `Content-Type: application/json`. The JSON body is limited to 20 KiB.\n\nAt least one array must contain a label. Unknown fields are rejected. Duplicate names within an array are ignored. A name cannot appear in both arrays after trimming.\n\nNames must contain 1–128 UTF-8 bytes after trimming surrounding whitespace, with no control characters or malformed Unicode. Case is preserved: `Receipts` and `receipts` are different tags. Labels are a set; do not rely on their order.\n\nA successful update returns `200` with the resulting labels:\n\nAdditions and removals apply together without replacing unrelated labels. Repeating the same update does not duplicate labels. Concurrent changes to different labels are preserved; opposite changes to the same label follow write order. Labels are not a work-claiming lock.\n\nInvalid changes return `400 invalid_labels`. Missing, deleted, or other-account messages return `404`. Label updates do not require sending or deletion permission and consume no sending allowance.",
        "parameters": [
          {
            "name": "message_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Owned Cherami resource ID returned by the API."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation; inspect resource state and outcome fields.",
            "headers": {
              "X-Request-ID": {
                "description": "Support correlation ID, not an idempotency key.",
[...]
